<div class="app-container">
  <!-- topo + conteúdo -->
  <div class="top-content-container">
    <div class="top-content">
      <!-- topo -->
      <div class="top">
        <!-- cabeçalho -->
        <app-header class="header"></app-header>
        <!-- banner -->
        <app-banner class="banner"></app-banner>
      </div>

      <!-- conteúto/páginas -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <div class="footer-container">
    <app-footer class="footer"></app-footer>
  </div>
</div>
