@import "../../../variables.scss";

.product {
  justify-self: center;
  width: $card-width;
  height: $card-height;
  position: relative;
  .text {
    position: relative;
    .name {
      font-weight: bolder;
      font-size: 33px;
      position: relative;
      top: 10px;
      left: 17px;
    }
    .tags {
      font-weight: bolder;
      font-size: 14px;
      position: relative;
      top: 4px;
      left: 17px;
    }
  }

  .price {
    position: absolute;
    background-color: $gray-dark;
    color: white;
    width: 118px;
    height: 78px;
    top: 0;
    right: 0;
    font-size: 33px;
    font-weight: bolder;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 0 0 10px 10px;
  }

  .image {
    position: relative;
    top: 38px;
    left: 40px;
    width: 288px;
    height: 333px;
  }

  .button {
    position: absolute;
    left: 36px;
    bottom: 31px;
    width: 300px;
    height: 49px;
    font-size: 14px;
    font-weight: bold;
  }

  // produto no carrinho
  &.in-cart {
    outline: $primary-color 3px solid;
    .price {
      background-color: $primary-color;
    }
  }
}
