/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./variables.scss";
$primary: $primary-color;
$danger: $danger-color;
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", sans-serif!important;
  font-weight: normal!important;
}


// contêiner do formulário do menu de login
.login-popover {
  $menu-width: 352px;
  $menu-inner-width: 292px;
  min-width: $menu-width;
  .popover-body {
    width: $menu-inner-width;
    padding-top: 34px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 31px;
  }
}
