@import "../../../variables.scss";

.page-header {
  width: 100%;
}
// carrinho
.cart {
  color: $gray-dark;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-bottom: 95px;
  // número de colunas muda conforme os breakpoints responsivos
  .cart-item,
  .total-price {
    width: 100%;
  }

}
