@import "../../../variables.scss";

$card-width: 369px;
$card-height: 544px;
// cabeçalho
.header {
  display: grid;
  justify-content: center;
  margin-bottom: 70px;
  color: $gray-dark;
  .header-content {
    display: grid;
    grid-template-columns: auto;
    width: $card-width;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: auto auto;
      width: calc(#{$card-width} * 2);
    }
    @media (min-width: $breakpoint-xl) {
      width: calc(#{$card-width} * 3);
    }
    @media (min-width: $breakpoint-ul) {
      width: calc(#{$card-width} * 4);
    }
    .title {
      font-size: 69px;
      font-weight: lighter;
      align-self: center;
    }
    .cart {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      align-self: center;
      color: $primary-color;
      font-size: 22px;
      font-weight: bolder;
      justify-self: left;
      @media (min-width: $breakpoint-lg) {
        justify-self: end;
      }
      align-self: center;
      .icon {
        margin-right: 25px;
      }
    }
  }
}
// grid
.products {
  color: $gray-dark;
  display: grid;
  justify-content: center;
  // número de colunas muda conforme os breakpoints responsivos
  grid-template-columns: auto;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: auto auto;
  }
  @media (min-width: $breakpoint-xl) {
    grid-template-columns: auto auto auto;
  }
  @media (min-width: $breakpoint-ul) {
    grid-template-columns: auto auto auto auto;
  }
  // grid-item
  .product {
    justify-self: center;
    width: $card-width;
    height: $card-height;
    position: relative;
    margin-bottom: 144px;
    .text {
      position: relative;
      .name {
        font-weight: bolder;
        font-size: 33px;
        position: relative;
        top: 10px;
        left: 17px;
      }
      .tags {
        font-weight: bolder;
        font-size: 14px;
        position: relative;
        top: 4px;
        left: 17px;
      }
    }

    .price {
      position: absolute;
      background-color: $gray-dark;
      color: white;
      width: 118px;
      height: 78px;
      top: 0;
      right: 0;
      font-size: 33px;
      font-weight: bolder;
      display: grid;
      align-items: center;
      justify-items: center;
      border-radius: 0 0 10px 10px;
    }

    .image {
      position: relative;
      top: 38px;
      left: 40px;
      width: 288px;
      height: 333px;
    }

    .button {
      position: absolute;
      left: 36px;
      bottom: 31px;
      width: 300px;
      height: 49px;
      font-size: 14px;
      font-weight: bold;
    }

    // produto no carrinho
    &.in-cart {
      outline: $primary-color 3px solid;
      .price {
        background-color: $primary-color;
      }
    }
  }
}
