@import "../../../variables.scss";

.page-header {
  width: 100%;
}

// grid
.products {
  width: 100%;
  color: $gray-dark;
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  // número de colunas muda conforme os breakpoints responsivos
  grid-template-columns: auto;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: auto auto;
  }
  @media (min-width: $breakpoint-xl) {
    grid-template-columns: auto auto auto;
  }
  @media (min-width: $breakpoint-ul) {
    grid-template-columns: auto auto auto auto;
  }
  margin-bottom: 144px;
}
