<!-- header -->
<div class="header">
  <div class="title">Products</div>
  <div class="cart">
    <button type="button" class="btn btn-light" (click)="navigateToCart()">Cart ({{ cartQuantity }})</button>
  </div>
</div>

<!-- grid -->
<div *ngIf="products" class="products">
  <!-- grid item -->
  <div *ngFor="let product of products" class="product">
    <div class="text">
      <div class="name">
        {{ product.name }}
      </div>
      <div class="tags">
        {{ product.tags }}
      </div>
    </div>
    <div class="price">${{ product.price }}</div>
    <img [src]="product.image" class="image" />
    <button
      type="button"
      [ngClass]="['btn', product.cartQuantity ? 'btn-danger' : 'btn-primary', 'button']"
      (click)="!product.cartQuantity ? addToCart(product) : removeFromCart(product)">
      {{ !product.cartQuantity ? "Add to cart" : "Remove from cart" }}
    </button>
  </div>
</div>
